* {
    box-sizing: border-box;
    font-family: "Verdana";
}
html {
    background-color: #6e44ff;
}
body {
    overflow: hidden;
}
nav#menu {
    position: absolute;
    width: 90vw;
    left: 5vw;
    top: 1vw;
    background-color: #6e44ff;
    border-radius: 1vw;
    padding: 0.75vw;
}
nav#menu button {
    padding: 0.2vw;
    background-color: #b892ff;
    border: none;
    color: #6e44ff;
    border-radius: 0.3vw;
    font-size: 1vw;
}
div.level {
    position: absolute;
    z-index: -1;
    background-color: #ffc2e2;
}
div.block {
    position: absolute;
    background-color: #6e44ff;
}
div.movingblock {
    position: absolute;
    background-color: #b892ff;
    border: 0.5vw solid #6e44ff;
}
div.button {
    position: absolute;
    background-color: transparent;
}
div.button-skin {
    position: absolute;
    background-color: yellow;
}
div.player {
    width: 5vw;
    height: 5vw;
    z-index: 7;
    background-color: transparent;
    border: 1vw solid #b892ff;
    position: absolute;
}
h1#FPS {
    position: absolute;
    top: 0;
    left: 1vw;
    color: green;
    z-index: 100;
    display: inline;
    background-color: lightgreen;
    padding: 1vw;
    border-radius: 1vw;
}
div.escape {
    position: absolute;
    z-index: 10;
    content: "";
    width: 5vw;
    height: 5vw;
}
div.behindEscape {
    position: absolute;
    width: 5vw;
    height: 5vw;
    content: "";
    z-index: 5;
    background-color: #ffc2e2;
}
div.escape.a0 {
    background: linear-gradient(270deg, rgba(110, 68, 255, 0) 0%, rgba(110, 68, 255, 1) 100%);
}
div.escape.a1 {
    background: linear-gradient(0deg, rgba(110, 68, 255, 0) 0%, rgba(110, 68, 255, 1) 100%);
}
div.escape.a2 {
    background: linear-gradient(180deg, rgba(110, 68, 255, 0) 0%, rgba(110, 68, 255, 1) 100%);
}
div.escape.a3 {
    background: linear-gradient(90deg, rgba(110, 68, 255, 0) 0%, rgba(110, 68, 255, 1) 100%);
}
div.boundary {
    z-index: 10;
    position: absolute;
    background-color: rgba(110, 68, 255, 1);
}
div#cover {
    display: none;
    z-index: 15;
    background-color: rgba(110, 68, 255, 1);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
}